<config>
    <modules>
        <Itransition_Shippinginsurance>
            <version>1.0.0</version>
        </Itransition_Shippinginsurance>
    </modules>
    <frontend>
        <layout>
            <updates>
                <shippinginsurance module="shippinginsurance">
                    <file>shippinginsurance.xml</file>
                </shippinginsurance>
            </updates>
        </layout>
        <events>
            <checkout_controller_onepage_save_shipping_method>
                <observers>
                    <shippinginsurance>
                        <class>shippinginsurance/observer</class>
                        <method>checkoutControllerOnepageSaveShippingMethod</method>
                        <type>model</type>
                    </shippinginsurance>
                </observers>
            </checkout_controller_onepage_save_shipping_method>
            <sales_quote_item_qty_set_after>
                <observers>
                    <shippinginsurance>
                        <class>shippinginsurance/observer</class>
                        <method>salesQuoteItemQtySetAfter</method>
                        <type>model</type>
                    </shippinginsurance>
                </observers>
            </sales_quote_item_qty_set_after>
        </events>
    </frontend>
    <global>
        <helpers>
            <shippinginsurance>
                <class>Itransition_Shippinginsurance_Helper</class>
            </shippinginsurance>
        </helpers>
        <models>
            <shippinginsurance>
                <class>Itransition_Shippinginsurance_Model</class>
                <resourceModel>shippinginsurance_resource</resourceModel>
            </shippinginsurance>
            <shippinginsurance_resource>
                <class>Itransition_Shippinginsurance_Model_Resource</class>
            </shippinginsurance_resource>
        </models>
        <resources>
            <shippinginsurance_setup>
                <setup>
                    <module>Itransition_Shippinginsurance</module>
                </setup>
            </shippinginsurance_setup>
        </resources>
        <blocks>
            <shippinginsurance>
                <class>Itransition_Shippinginsurance_Block</class>
            </shippinginsurance>
            <sales>
                <rewrite>
                    <order_totals>Itransition_Shippinginsurance_Block_Order_Totals</order_totals>
                    <order_invoice_totals>Itransition_Shippinginsurance_Block_Order_Invoice_Totals</order_invoice_totals>
                    <order_creditmemo_totals>Itransition_Shippinginsurance_Block_Order_Creditmemo_Totals</order_creditmemo_totals>
                </rewrite>
            </sales>
            <adminhtml>
                <rewrite>
                    <sales_order_totals>Itransition_Shippinginsurance_Block_Adminhtml_Order_Totals</sales_order_totals>
                    <sales_order_invoice_totals>Itransition_Shippinginsurance_Block_Adminhtml_Order_Invoice_Totals</sales_order_invoice_totals>
                    <sales_order_creditmemo_totals>Itransition_Shippinginsurance_Block_Adminhtml_Order_Creditmemo_Totals</sales_order_creditmemo_totals>
                </rewrite>
            </adminhtml>
        </blocks>
        <fieldsets>
            <sales_convert_quote>
                <insurance>
                    <to_order>*</to_order>
                </insurance>
            </sales_convert_quote>
        </fieldsets>
        <sales>
            <quote>
                <totals>
                    <insurance>
                        <class>shippinginsurance/sales_quote_address_total_insurance</class>
                    </insurance>
                </totals>
            </quote>
            <order_invoice>
                <totals>
                    <insurance>
                        <class>shippinginsurance/sales_order_invoice_total_insurance</class>
                    </insurance>
                </totals>
            </order_invoice>
            <order_creditmemo>
                <totals>
                    <insurance>
                        <class>shippinginsurance/sales_order_creditmemo_total_insurance</class>
                    </insurance>
                </totals>
            </order_creditmemo>
        </sales>
        <pdf>
            <totals>
                <insurance translate="title">
                    <model>Itransition_Shippinginsurance_Model_Sales_Order_Pdf_Total_Insurance</model>
                    <font_size>7</font_size>
                    <display_zero>0</display_zero>
                    <sort_order>650</sort_order>
                </insurance>
            </totals>
        </pdf>
    </global>
</config>